* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li,
ul {
  text-decoration: none;
  list-style: none;
}

img {
  vertical-align: middle;
}
$font-size: 18px;
$f-color-h: #ffff;
$f-color-p: #a09e9e;
$color-style: #fec110;

.unline {
  height: 3px;
  width: 90px;
  background-color: $color-style;
}

%section-fast {
  padding-top: 110px;
  padding-bottom: 100px;
  background-color: #151414;
}

%section-second {
  padding-top: 110px;
  padding-bottom: 100px;
  background-color: #1f1f1f;
}

%h3 {
  font-size: 44px;
  color: $f-color-h;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

%h4 {
  font-size: 34px;
  color: $f-color-h;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

%p {
  font-size: 16px;
  color: $f-color-p;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

a,
btn-lg,
h1,
h3,
h4,
li,
p {
  font-family: 'Poppins', sans-serif;
}
// ====================

.header {
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: +9999999999;
  background-color: rgb(0, 0, 0) !important;

  .logo {
    a {
      font-size: 45px;
      color: $color-style;
      text-decoration: none;
      font-weight: 700;
    }
  }

  .menu {
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      margin: 0;
      padding-top: 20px;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;

      li {
        a {
          text-decoration: none;
          color: $f-color-h;
          font-size: $font-size;
          text-transform: capitalize;
          padding: 10px 15px;
        }
        .active,:hover{
          color: $color-style;
        }

      }
      li:last-child a {
        padding-right: 0;
      }
    }
  }

  .mobile-menu {
    display: none;
    padding-top: 3px;

      i{
        color: #fff;
        font-size: 30px;
        padding: 7px 10px;
        border: 3px solid #fff;
        border-radius: 4px;
        transition: 2s;
      }

  }
}

.banner {
  @extend %section-fast;
  padding: 0;

  .title {
    margin: 150px 0px;

    h1 {
      font-size: 54px;
      color: $f-color-h;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
    }

    h4 {
      @extend %h4;
      padding: 20px 0;
    }

    .btn-lg {
      background-color: $color-style;
      padding: 10px 50px;
      font-weight: 700px;
      margin-top: 20px;
    }
  }

  .img {
    margin-left: -100px;
    img {
      width: 840px;
      height: 600px;
    }
  }
}
// ==========================
// About section

.about {
  @extend %section-second;

  .about_caption {
    padding-left: 100px;
    padding-top: 80px;

    h3 {
      @extend %h3;
    }
  }

  .about_text {
    p {
      @extend %p;
    }

    .btn-lg {
      background-color: $color-style;
      padding: 10px 50px;
      font-weight: 700px;
      margin-top: 50px;
      margin-right: 10px;
    }

    .btn-2 {
      background-color: #1f1f1f;
      border: 2px solid $color-style;
      color: $color-style;
    }
  }
}
// ===================
// service

.service {
  @extend %section-fast;

  .service_caption {
    padding-left: 100px;
    padding-top: 80px;

    h3 {
      @extend %h3;
    }
  }

  .service-text {
    margin-bottom: 50px;

    p {
      @extend %p;
    }
  }

  .service_img {
    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    // justify-content: center;
    // align-items: center;
    padding-bottom: 30px;
    position: relative;

    .overly-color {
      height: 92%;
      width: 100%;
      background-color: rgba(21, 166, 239, .78);
      opacity: 10;
      border-radius: 10px;
      position: absolute;

      i {
        color: #ffff;
        font-size: 74px;
        padding: 20px 0 0 30px;
      }

      h4 {
        @extend %h4;
        padding: 10px 0px 0px 30px;
      }

      p {
        @extend %p;
        color: #000;
        padding: 10px 0px 0px 30px;
      }
    }

    .v-color-2 {
      background-color: rgba(255, 221, 7, .78);
    }

    .v-color-3 {
      background-color: rgba(45, 239, 106, .78);
    }

    .v-color-4 {
      background-color: rgba(230, 7, 255, .78);
    }

    img {
      border-radius: 10px;
    }
  }
}
// ======================

.portflio {
  @extend %section-second;

  .portflio-caption {
    padding-left: 100px;
    padding-top: 80px;

    h3 {
      @extend %h3;
    }
  }

  .portflio-text {
    p {
      @extend %p;
    }
  }
}
// =================
// experiences

.experiences {
  @extend %section-fast;

  .experiences-title {
    padding-left: 100px;
    padding-top: 80px;

    h3 {
      @extend %h3;
    }
  }

  .experiences-text {
    p {
      @extend %p;
    }
  }

  .col-lg-4,
  .col-md-4 {
    padding: 0;

    .exp-details {
      border: 1px solid #a09e9e;
      margin-top: 50px;
      padding: 70px 30px;

      p {
        @extend %p;
      }

      h4 {
        @extend %h4;
        padding: 10px 0;
      }
    }

    .border-none {
      border-left: 0;
      border-right: 0;
    }

    .exp-details:hover {
      background-color: gold;
    }
  }
}
/*============================*/
.hire-me {
  @extend %section-second;

  .hire-title {
    position: relative;
    text-align: center;

    h3 {
      @extend %h3;
    }

    .unline {
      position: absolute;
      right: 47%;
      margin-top: 10px;
    }

    .btn-lg {
      background-color: #fec110;
      margin-top: 50px;
      font-family: 'Poppins', sans-serif;
      padding: 10px 50px;
    }
  }
}
/*================================*/
.contact-us {
  @extend %section-fast;

  .contact-title {
    padding-left: 43%;
    margin-bottom: 50px;

    h3 {
      @extend %h3;
      text-align: center;
    }

    .unline {
      margin-left: 25px;
    }
  }

  form {
    .single-input {
      font-family: 'Poppins', sans-serif;

      label {
        margin: 0;
        position: relative;
        top: 30px;
        left: 12px;
        color: #797979;
        z-index: 1;
      }

      input {
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        background: transparent;
      }

      input:focus,
      textarea:focus {
        outline: none;
        border-color: #ced4da;
      }

      textarea {
        box-shadow: none;
        outline: none;
        resize: none;
        background: transparent;
        height: 164px !important;
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
      }
    }

    .submit-button {
      font-family: 'Poppins', sans-serif;

      input[type="submit"] {
        background-color: rgb(250, 250, 250);
        color: #eac709;
        outline: none;
        box-shadow: none;
        display: block;
      }

      .btn {
        margin-top: 30px;
        color: #212529;
        background-color: #f8f9fa;
        padding: 10px 54px;
      }
    }
  }
}
// ======================

.footer {
  @extend %section-second;

  .footer-text {
    text-align: center;

    a {
      font-size: 45px;
      color: $color-style;
      text-decoration: none;
      font-weight: 700;
    }

    p {
      @extend %p;
    }

    ul {
      display: flex;
      padding-left: 50px;

      li {
        text-align: center;
        height: 70px;
        width: 70px;
        margin: 50px 10px 0px 10px;
        border-radius: 50%;
        background-color: #000;

        a {
          @extend %p;
          line-height: 70px;
          font-size: 25px;
        }
      }
      li:hover{
        background-color: $color-style;
        transition: 1s;
      }
    }
  }
}

.scrolltop {
  position: fixed;
  bottom: 30px;
  right: 15px;
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  font-size: 29px;
}
